[Desktop Entry]
Encoding=UTF-8
Name=AveroPay
Comment=AveroPay P2P Cryptocurrency
Comment[fr]=AveroPay, monnaie virtuelle cryptographique pair à pair
Comment[tr]=AveroPay, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/AveroPay
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/AveroPay;
Categories=Office;
